.wrapper {
  background-color: #fff;
}

.wrapper:hover {
  background-color: #f5f8fa;
}

.profile-pic {
  display: inline-block;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.profile-pic-sm {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.feature-image {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

:host {
  background-color: #fff;
  border-width: 0px;
  margin: 0px;
}
