<!--<amplify-authenticator></amplify-authenticator>
<button (click)="signUp()"></button>-->
<!--<div class="container">-->
<div class="row m-0" style="width: 100vw; max-width:100%;">
  <div class="col-md-6 d-none d-lg-block featured-image p-0" style="background-image: url('assets/lake.jpg'); background-position: center; background-size: cover; height: 100vh">
    <!--<p class="center-info" style="padding: 30px; font-weight: 600; color: #FFFFFF; text-align: center">Find local trips and groups.</p>-->
    <!--<img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/mbcp.xyz/assets/clouds-fog-forest-9754.jpg" style="width: 75%; height: auto; border-width: 5px; border-color: #FFF; border-style: solid; margin-left: 7.5%"/>-->
  </div>
  <div class="col-12 col-lg-6 p-0">
    <form class="form-inline" (ngSubmit)="login()">
      <div class="container">
        <div class="row p-4 m-0 mx-0">
          <input class="form-control mr-lg-3 mb-3 mb-lg-0 col-12 col-lg-4" placeholder="Username" required [(ngModel)]="username" name="username">
          <div class="col-12 col-lg-4 mr-lg-3 mb-3 mb-lg-0 p-0">
            <input class="form-control" placeholder="Password" type="password" required [(ngModel)]="password" name="password">
            <a class="nav-link p-0 pl-1" routerLink="/password-reset" routerLinkActive="active">
              <p style="font-size: 12px; color: #ccc; line-height: 25px">Forgot Password?</p>
            </a>
          </div>
          <button class="btn col-12 col-lg-2" type="submit">Login</button>
        </div>
      </div>
    </form>
    <!--<h2 style="padding-top: 20px; font-weight: 600">Create a New Account.</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputUsername">Username</label>
          <input [(ngModel)]="username" required name="username" class="form-control" id="inputUsername" placeholder="Username">
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input [(ngModel)]="email" required name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">First name</label>
          <input [(ngModel)]="firstName" required name="firstName" class="form-control" id="inputFirstName" placeholder="First name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last name</label>
          <input [(ngModel)]="lastName" required name="lastName" class="form-control" id="inputLastName" placeholder="Last name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputBirthdayMonth">Birthday</label>
        <div class="form-row">
          <div class="form-group col-md-5">
            <select id="inputBirthdayMonth" class="form-control">
              <option>January</option>
              <option>Febuary</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option selected>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <select id="inputBirthdayDay" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option selected>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <select id="inputBirthdayYear" class="form-control">
              <option>1991</option>
              <option>1992</option>
              <option>1993</option>
              <option>1994</option>
              <option>1995</option>
              <option>1996</option>
              <option>1997</option>
              <option>1998</option>
              <option>1999</option>
              <option>2000</option>
              <option>2001</option>
              <option>2002</option>
              <option>2003</option>
              <option>2004</option>
              <option>2005</option>
              <option>2006</option>
              <option>2007</option>
              <option>2008</option>
              <option>2009</option>
              <option>2010</option>
              <option>2011</option>
              <option>2012</option>
              <option>2013</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option selected>2018</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input [(ngModel)]="password" type="password" required name="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPasswordConfirm">Confirm password</label>
          <input type="password" required class="form-control" id="inputPasswordConfirm" placeholder="Confirm password">
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioGender1" name="radioGender1" class="custom-control-input">
          <label class="custom-control-label radio" for="radioGender1">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="radioGender2" name="radioGender1" class="custom-control-input">
          <label class="custom-control-label radio" for="radioGender2">Female</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="signup()">Sign up</button>
    </form>-->
  </div>
</div>
<!--</div>-->
